name: Keep Render App Alive

on:
  schedule:
    - cron: "*/10 * * * *" # chạy mỗi 10 phút
  workflow_dispatch: # cho phép chạy thủ công

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render app
        run: |
          echo "Pinging Render app..."
          curl -s -I https://resource-bom.onrender.com/health || true
